@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange-rgb: 195, 69, 40;
  --orange: #c34528;
  --dark: #222222;
  --semi-dark: #1a1a1a;
  --vc-pgn-background-color: rgba(var(--orange-rgb), .3);
  --vc-pgn-active-color: var(--orange);
  --vc-pgn-height: 1rem;
  --vc-pgn-width: 1rem;
  --vc-pgn-border-radius: 1rem;
}

svg polygon {
  transition: 2.5s all;
}

#polygon-bg {
	position: fixed;
	z-index: -1;
}

::selection {
  background: rgba(var(--orange-rgb), .4);
}

#app {
  background: var(--dark);
  color: white;
}

.orange {
  color: var(--orange);
}

a {
  transition: color .2s ease-in-out;
}

a:hover {
  color: var(--orange)
}

.container {
  max-width: 1280px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body.modal-open {
  overflow: hidden;
}

input:focus-visible {
  outline: 2px solid var(--orange);
}

textarea:focus-visible {
  outline: 2px solid var(--orange);
}
